<!DOCTYPE html>
<html>
<head>
  <title>Streaming Video Recorder</title>
</head>
<body>
  <h1>Streaming Video Recorder</h1>
  <div id="recorder">
    <button id="record">Video record</button>
    <button id="stop">Stop video record</button>
    <a id="download"></a>
    <script type="text/javascript" src="{{ url_for('static', filename='recorder.js') }}"></script>     
    
    <script>
     window.onload=function(){
      document.getElementById("record").click();
      };
      </script>

  </div>

  <img id="video" src="{{ url_for('video_viewer') }}">


  <div>
    <p>Дэмий их ярьдаг болхоор мик ээ хаав :)</p>
    <audio controls autoplay>
        <source src="{{ url_for('audio') }}" type="audio/x-wav;codec=pcm">
        Your browser does not support the audio element.
    </audio>
  </div>


</body>
</html>
